.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.fasta
*.phr
*.pos
*.pot
*.ptf
*.pto
*.txt
*.ndb
*.nhr
*.nin
*.njs
*.nog
*.nos
*.not
*.nsq
*.ntf
*.nto
*.pdb
*.pin
*.pjs
*.psq
*.pog
outputs/
blast_history_report.rmd
blast_history_report.html